In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split #import hàm đề chia dataset
from sklearn.linear_model import LogisticRegression #import thuật toán logistic regression
from sklearn.metrics import accuracy_score, classification_report #import hàm kiểm tra độ chính xác
import joblib
from sklearn.preprocessing import StandardScaler

# Đưa dataset vào
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

X = df.drop("DEATH_EVENT", axis = 1) # X là những cột dùng để kiểm tra (tất cả bảng ngoại trừ cột death_event)
y = df["DEATH_EVENT"] # y là cột death_event, là kết quả cần kiểm tra


# chia X, y ra theo tỷ lệ 20 / 80, 80 để kiểm tra, 20 để làm kết quả đối chiếu
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.3
)
# chuẩn hóa dữ liệu (khoảng cách số học của dữ liệu lớn làm cho logistic regression dễ sai sót)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = LogisticRegression(max_iter = 1000) # Khai báo model

model.fit(X_train_scaled, y_train) # đưa data vào để train

y_pred = model.predict(X_test_scaled) # từ model vừa train để dự đoán death event

accuracy = accuracy_score(y_test, y_pred) # đối chiếu kết quả dự đoán với kết quả thực
print('Độ chính xác:', accuracy)

report = classification_report(y_test, y_pred)
print('Báo cáo phân loại:\n', report)

joblib.dump(model, 'logistic_model.pkl') # lưu model lại với tên logistic_model.pkl
joblib.dump(scaler, 'scaler.pkl') # lưu hàm chuẩn hóa đầu vào với tên scaler.pkl

print('Lưu thành công!')

Độ chính xác: 0.7777777777777778
Báo cáo phân loại:
               precision    recall  f1-score   support

           0       0.85      0.83      0.84        63
           1       0.62      0.67      0.64        27

    accuracy                           0.78        90
   macro avg       0.74      0.75      0.74        90
weighted avg       0.78      0.78      0.78        90

Lưu thành công!

In [10]:
import pandas as pd

df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000